<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>图书列表</title>
  <link rel="stylesheet" th:href="@{/js/lib-master/theme-chalk/index.css}">
</head>
<body>
<div id="app">
  <el-row :gutter="20">
    <el-col :span="4">
      <el-input v-model="queryForm.id" clearable placeholder="图书编号"></el-input>
    </el-col>
    <el-col :span="4">
      <el-select v-model="queryForm.categoryId" clearable placeholder="类别" style="width: 100%">
        <el-option v-for="item in categoryList" :key="item.id" :label="item.name"
                   :value="item.id"></el-option>
      </el-select>
    </el-col>
    <el-col :span="4">
      <el-input v-model="queryForm.name" clearable placeholder="书名"></el-input>
    </el-col>
    <el-col :span="4">
      <el-input v-model="queryForm.price" clearable placeholder="价格"></el-input>
    </el-col>
    <el-col :span="4">
      <el-input v-model="queryForm.profile" clearable placeholder="简介"></el-input>
    </el-col>
    <el-col :span="4">
      <el-button @click="getBookList">查询</el-button>
      <el-button type="primary" @click="showAdd">添加</el-button>
    </el-col>
  </el-row>
  <el-table :data="bookList" current-row-key="id" highlight-current-row size="small" stripe>
    <el-table-column align="center" label="图书编号" prop="id"></el-table-column>
    <el-table-column align="center" label="书名" prop="name"></el-table-column>
    <el-table-column align="center" label="类别" prop="category.name"></el-table-column>
    <el-table-column align="center" label="封面">
      <template v-slot="scope">
        <el-image
          :preview-src-list="[`http://localhost:8080/common/preview?fileName=${encodeURIComponent(scope.row.cover)}`]"
          :src="`http://localhost:8080/common/preview?fileName=${encodeURIComponent(scope.row.cover)}`" fit="cover"
          style="width: 50px; height: 50px"></el-image>
      </template>
    </el-table-column>
    <el-table-column align="center" label="价格" prop="price"></el-table-column>
    <el-table-column align="center" label="简介" prop="profile"></el-table-column>
    <el-table-column align="center" label="读者列表">
      <template v-slot="scope">
        <el-tree :data="scope.row.readers" :props="defaultProps"></el-tree>
      </template>
    </el-table-column>
    <el-table-column align="center" label="操作">
      <template v-slot="scope">
        <el-button size="mini" type="primary" @click="showEdit(scope.row.id)">编辑</el-button>
        <el-popconfirm :title="'是否删除ID为' + scope.row.id + '的数据项？'" @confirm="handleDelete(scope.row.id)">
          <el-button slot="reference" size="mini" type="danger">删除</el-button>
        </el-popconfirm>
      </template>
    </el-table-column>
  </el-table>
  <el-dialog :title="addOrEditForm.title" :visible.sync="addOrEditForm.visible">
    <el-form ref="addOrEditRef" :model="addOrEditForm.data" :rules="addOrEditRules" label-position="right"
             label-width="80px">
      <el-form-item label="书名" prop="name">
        <el-input v-model="addOrEditForm.data.name" placeholder="请输入书名"></el-input>
      </el-form-item>
      <el-form-item label="类别" prop="categoryId">
        <el-select v-model="addOrEditForm.data.categoryId" clearable placeholder="请选择类别" style="width: 100%">
          <el-option v-for="item in categoryList" :key="item.id" :label="item.name"
                     :value="item.id"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="封面" prop="cover">
        <el-upload :on-success="handleUploadSuccess" :show-file-list="false" action="/common/upload"
                   class="avatar-uploader">
          <img v-if="addOrEditForm.data.cover" :src="addOrEditForm.data.img" alt="" class="avatar">
          <i v-else class="el-icon-plus avatar-uploader-icon"></i>
        </el-upload>
      </el-form-item>
      <el-form-item label="价格" prop="price">
        <el-input v-model="addOrEditForm.data.price" placeholder="请输入价格"></el-input>
      </el-form-item>
      <el-form-item label="简介" prop="profile">
        <el-input v-model="addOrEditForm.data.profile" placeholder="请输入简介" type="textarea"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer" class="dialog-footer">
      <el-button @click="addOrEditForm.visible = false">取消</el-button>
      <el-button type="primary" @click="handleSubmit">确定</el-button>
    </div>
  </el-dialog>
</div>
</body>
<script th:src="@{js/vue.min.js}"></script>
<script th:src="@{js/lib-master/index.js}"></script>
<script th:src="@{js/axios.min.js}"></script>
<script th:inline="javascript">
  const vue = new Vue({
    el: '#app',
    data() {
      return {
        queryForm: {
          pageNo: 1,
          pageSize: 10,
          id: null,
          name: '',
          price: null,
          profile: '',
          categoryId: [[${categoryId}]] || null
        },
        addOrEditForm: {
          title: '',
          visible: false,
          data: {
            id: null,
            name: '',
            categoryId: null,
            cover: '',
            price: null,
            profile: ''
          }
        },
        addOrEditRules: {
          name: [{required: true, message: '书名为必填项', trigger: 'blur'}],
          categoryId: [{required: true, message: '类别为必填项', trigger: 'blur'}],
          cover: [{required: true, message: '封面为必填项', trigger: 'blur'}],
          price: [{required: true, message: '价格为必填项', trigger: 'blur'}],
          profile: [{required: true, message: '简介为必填项', trigger: 'blur'}]
        },
        categoryList: [],
        bookList: [],
        fileList: [],
        total: 0,
        defaultProps: {
          children: 'children',
          label: 'name'
        }
      }
    },
    created() {
      this.getCategoryList()
      this.getBookList()
    },
    methods: {
      getCategoryList() {
        axios({
          url: '/category',
          method: 'get',
          params: {pageNo: 1, pageSize: 100}
        }).then(res => {
          if (res.status === 200 && res.data.code === 200) {
            this.categoryList = res.data.data.page.content
          }
        })
      },
      getBookList() {
        axios({
          url: '/book',
          method: 'get',
          params: this.queryForm
        }).then(res => {
          if (res.status === 200 && res.data.code === 200) {
            this.bookList = res.data.data.page.content
            this.total = res.data.data.page.totalElements
          }
        })
      },
      getBook(id) {
        axios({
          url: `/book/${id}`,
          method: 'get'
        }).then(res => {
          if (res.status === 200 && res.data.code === 200) {
            this.addOrEditForm.data = {...res.data.data.book, categoryId: res.data.data.book.category.id}
          }
        })
      },
      resetAddOrEditForm() {
        this.addOrEditForm.visible = true
        this.addOrEditForm.data = {
          id: null,
          name: '',
          categoryId: null,
          cover: '',
          price: null,
          profile: ''
        }
      },
      showAdd() {
        this.resetAddOrEditForm()
        this.addOrEditForm.title = '添加图书'
        this.$nextTick(() => {
          this.$refs.addOrEditRef.resetFields()
        })
      },
      showEdit(id) {
        this.resetAddOrEditForm()
        this.addOrEditForm.title = '编辑图书'
        this.$nextTick(() => {
          this.$refs.addOrEditRef.resetFields()
        })
        this.getBook(id)
      },
      handleSubmit() {
        this.$refs.addOrEditRef.validate(valid => {
          if (!valid) return
          axios({
            url: '/book',
            method: 'post',
            data: this.addOrEditForm.data
          }).then(res => {
            if (res.status === 200 && res.data.code === 200) {
              this.$message.success(res.data.msg)
              this.addOrEditForm.visible = false
            } else {
              this.$message.error(res.data.msg)
            }
            this.getBookList()
          })
        })
      },
      handleDelete(id) {
        axios({
          url: '/book',
          method: 'delete',
          params: {ids: id}
        }).then(res => {
          if (res.status === 200 && res.data.code === 200) {
            this.$message.success(res.data.msg)
          } else {
            this.$message.error(res.data.msg)
          }
          this.getBookList()
        })
      },
      handleUploadSuccess(res, file) {
        this.addOrEditForm.data.cover = res.data.path
        this.addOrEditForm.data.img = URL.createObjectURL(file.raw)
      }
    }
  })
</script>
<style>
  .avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }

  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }

  .avatar-uploader-icon {
    font-size: 28px;
    color: #8c939d;
    width: 178px;
    height: 178px;
    line-height: 178px;
    text-align: center;
  }

  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
</style>
</html>